/* --- 1. Estilos Globales y Contenedores --- */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: rgb(117, 199, 227);
    color: white;
    padding: 15px ;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    
}
main {
    width: 100%;
    max-width: 900px;
}
section {
    background-color:rgb(103, 250, 250);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
#formProducto {
    display: flex;
    gap: 10px;
    align-items:center;
    
}

#nombreProducto {
    padding: 10px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* boton para agregar cosas */
button[type="submit"] {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    border-color: #444243;
    cursor: pointer;/* se pone de color al pasar el raton */
}

button[type="submit"]:hover {
    background-color: #41508e;
}


/* estilos para la tabla */
#tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#tabla-productos th, #tabla-productos td {
    padding: 12px;
    border: 1px solid #049cee;
    text-align: left;
}
รง
/* dentro de la tabla */
.cantidad {
    text-align: center;
    font-weight: bold;
}

/* Estilos de botones dentro de la tabla */
#tabla-productos button {
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 4px;
    font-size: 0.9em;
}


#tabla-productos button:nth-child(1) {/* es el primer hijo osea sumar */
    background-color: #007bff;
    color: white;
    border-color:#444243;
    
}

#tabla-productos button:nth-child(1):hover {
    background-color: #0056b3;
}

#tabla-productos button:nth-child(2) {/* es el segundo hijo osea restar */
    background-color: #dc3545; 
    color: white;
    border-color:#444243;
}

#tabla-productos button:nth-child(2):hover {
    background-color: #c82333;
}